*{
   margin: 0%;
   padding: 0%;
}

h1{
   font: fantasy;
   font-size: 30px;
}

body{
   background-color: #D8D8D8;
}

.h1{
   margin: 50px 500px;
}

.geral{
   height: 300px;
   width: 90%;
   margin: 0 auto;
}

#conversor{
   margin:0 auto;
   padding: 10px;
   height: 90px;
   width: 800px;
}

input{
   height: 20px;
   width: 180px;
}

.botao{
   height: 40px;
   width: 180px;
   border-radius: 50px;
   background-color: #8904B1;
   color: #FFF;
   cursor: pointer;
}

.botao:hover{  
   background-color: #CC2EFA;
}

.botaod{
   padding-left: 300px;
   padding-top: 20px;
}
